* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
}

.result {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border-radius: 20px;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result-header {
  display: flex;
  justify-content: center;
  color: hsl(241, 100%, 89%);
  font-weight: 400;
  margin-top: 30px;
}

.result-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
  background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}

.score {
  color: white;
  font-size: 4.5rem;
}

.total-score {
  opacity: 0.6;
  color: hsl(241, 100%, 89%);
}

.result-outcome {
  text-align: center;
  color: white;
}

.result p {
  text-align: center;
  color: hsl(241, 100%, 89%);
  margin: 10px 45px 0 45px;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 1px 5px 1px hsla(224, 30%, 66%, 0.3);
}

.summary h2 {
  margin: 0 20px 0 20px;
}

.summary h3 {
  margin-left: 20px;
}

.reaction {
  display: flex;
  align-items: center;
  height: 5px;
  margin: 3px 20px 20px 20px;
  padding: 24px;
  border-radius: 10px;
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.2);
}

.memory {
  display: flex;
  align-items: center;
  height: 5px;
  margin: 3px 20px 20px 20px;
  padding: 24px;
  border-radius: 10px;
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.2);
}

.verbal {
  display: flex;
  align-items: center;
  height: 5px;
  margin: 3px 20px 20px 20px;
  padding: 24px;
  border-radius: 10px;
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.2);
}

.visual {
  display: flex;
  align-items: center;
  height: 5px;
  margin: 3px 20px 20px 20px;
  padding: 24px;
  border-radius: 10px;
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.2);
}

.total {
  text-align: right;
  width: 100%;
}

button {
  border: none;
  border-radius: 20px;
  padding: 15px 32px;
  font-size: 16px;
  margin: 0px 20px 20px 20px;
  text-align: center;
  color: white;
  background-color: hsl(256, 72%, 46%);
}

button:hover {
  cursor: pointer;
  background-color: hsl(224, 30%, 27%);
  color: white;
}

.footer {
  position: static;
  width: 100%;
  text-align: center;
  padding-block: 1rem;
}

@media only screen and (max-width: 660px) {
  #container {
    display: flex;
    flex-direction: column;
  }
  .result {
    border-radius: 0 0 25px 25px;
    width: 100%;
  }
  .result-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px auto;
    background: linear-gradient(hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  }
  .score {
    color: white;
    font-size: 3rem;
  }
  .total-score {
    opacity: 0.6;
    color: hsl(241, 100%, 89%);
  }
  .reaction {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 24px;
    border-radius: 10px;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.2);
  }
  .memory {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 24px;
    border-radius: 10px;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.2);
  }
  .verbal {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 24px;
    border-radius: 10px;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.2);
  }
  .visual {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 24px;
    border-radius: 10px;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.2);
  }
  .total {
    text-align: right;
    width: 100%;
  }
}/*# sourceMappingURL=styles.css.map */